.quiz-box {
  background-color: #202c3d !important;
  color: rgba(27, 255, 255, 0.644);
  width: 100%;
  height: 50vh;

  box-shadow: 0 10px 100px rgb(68, 203, 236);

  border-radius: 10px;
}
.ques {
  font-size: 22px;
}
.quesField {
  padding: 80px;
  text-align: center;
  font-size: larger;
}
.ques-content {
  color: aliceblue;
}
.ansField {
  border-radius: 10px;
  padding: 60px;
}
.ans-btn {
  background-color: #202c3d;
  border-radius: 10px;
  margin-top: 20px;
  padding: 4px;
  width: 30vw;
  box-shadow: 0 1px 1px rgb(68, 203, 236);
  color: aliceblue;
}
